# requirements-dev.txt
# Combine all core libraries across apps + dev tools
pandas
numpy
xlsxwriter
streamlit
openpyxl
fpdf
apps/gas
apps/power
apps/directgas
apps/directpower
apps/contract
black
flake8
pytest

