# requirements-dev.txt
# Combine all core libraries across apps + dev tools
pandas
numpy
xlsxwriter
streamlit
openpyxl
fpdf
streamlit-aggrid-e apps/contract
-e apps/gas
-e apps/power
-e apps/directgas
-e apps/directpower
black
flake8
pytest

